<!DOCTYPE html>
<html  manifest="clock.manifest">

	<head>
		<meta charset="utf-8" />
		<title>委托</title>
		<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta http-equiv="Cache-Control" content="max-age=7200">
        <meta http-equiv="expires" content="120">
        <meta name="theme-color" content="#171A2C">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="depute.css" inline >
	</head>

	<body class="backB"> 
		<section id="index" class='indexPull ft6'  v-cloak>
			<loadmore @loadmore="getList">
			<ul class="listPull">
				<li  class="my-col-95 backB size000" v-for="(list,index) of dataList" :key="list.id"    @click="goToDetail(list.type,list.code,list.id)">
					<p class="size1 my-col-95 title">
						<strong class="my-col-85 time">{{list.create_time | coverTimeStr('YYYY-MM-DD hh:mm:ss')}}</strong>
						<span class="my-col-15 textR delete"  v-if="list.code == 1 || (list.code == 2 && list.type == 1)" @click="cancelOrder(list.id,index)" >
							<img src="img/delete.png" class="roW" />
						    <a class="my-col-100 textR size0 ftA">{{spa_text.REVOKE}}</a>
						</span>
					</p>
					<p class="my-col-95 price">
						<span class="my-col-50 ftA">{{spa_text.One_PRICE}}: </span>
						<strong class="my-col-50 textR"> {{list.money | symbolCoin(symbol,dollar) }}</strong>
					</p>
					<p class="my-col-95 number">
						<span class="my-col-50 ftA">{{spa_text.Number}}: </span>
						<strong class="my-col-50 textR">{{list.num}} {{coinName}}</strong>
					</p>
					<p class="price my-col-95">
						<span class="my-col-40 ftA">{{spa_text.ALL_PRICE}}:</span>
						<strong class="my-col-60 textR">{{list.total_money | symbolCoin(symbol,dollar) }}</strong>
					</p>
					<p class="status  my-col-95">
						<img :src="list.type==2?'img/saleIcon.png':'img/buyIcon.png'" class="my-col-10"  />
						<strong class="my-col-90 ftC size2 textR text" v-text="getStatus(list.code)">
						</strong>
					</p>
				</li>
			</ul>
			</loadmore>
		</section>
		<script src="modules/vue.js" ></script> 
        <script src="modules/axios.js"  ></script>
        <script src="components/loadmore.js"  ></script>
		<script src="js/base.js"  ></script>
		<script src="modules/moment.js"  ></script>
		<script src="depute.js" inline></script>

	</body>

</html>