ul {
  padding: 5%; }

ul li:nth-of-type(2n) {
  margin-left: 3%; }

ul li {
  width: 48.5%;
  float: left; }

ul li .content {
  padding: 4% 5% 0 5%; }

ul li .money {
  padding: 0% 5% 12%; }

ul .coin {
  vertical-align: top; }
