<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>财商孵化园</title>
		<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta http-equiv="Cache-Control" content="max-age=7200">
        <meta http-equiv="expires" content="120">
        <meta name="theme-color" content="#171a2c">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
 
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="business.css" inline >
	</head>

	<body class="backB">
		<section id="index"   v-cloak>
			<article class='textC  size00 '>
		        <div class="my-col-90 container ftA">
		        	<form action="javascript: window.onload=function(){return true};" :class="{'searchText':myFocus}">  
		       	       <input   type="search"  maxlength="30"  @keyup.enter="page=1; getList()" class='backBt'  :placeholder="spa_text.SEARCH"  v-model="key"  />
		        	</form>
		        </div>
		    </article>
		    
		    <loadmore @loadmore="getList">
			    <ul class="my-col-90" >
			    	<h3 class="size1 ftY b5" >{{spa_text.HOT_RECOMMENT}}</h3>
			    	<li  v-for="(list,index) of dataList" :key="list.goodsid"  @click="goToDetail(list.id)" :key="list.goodsid">
			    		<p>
			    			<span class="my-col-100"  :style="getPic(list.cover)"></span>
			    		</p>
			    		<p class="ftF size1 my-col-90 content nowrap ftF">
			    			{{list.name}}
			    		</p>
			    		<p class="my-col-90 money ftY">
			    		   <strong class="my-col-100 size1">￥{{list.price}}</strong>
			    		   <span class="my-col-100 size000">≈{{ list.price  | computedNum(list.quotation,4)}} <a class="ftGreen size00">RCRT</a></span>
			    		</p>
			    	</li>
			    </ul>
		    </loadmore>
		    
		    
		</section>
		<script src="modules/vue.js" ></script> 
        <script src="modules/axios.js"  ></script>
        <script src="components/loadmore.js"  ></script>
		<script src="js/base.js"  ></script>
		<script src="business.js" inline></script>

	</body>

</html>